{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if sent_request %}
{% for user in sent_request %}
<div class="leftcolumn">
    <div class="cardpost" style="margin-top:30px; margin-bottom:-80px;margin-left:300px">
        <div class="cardh">
            <div class="dp">
                <a href="{{ user.avatar.url }}"><img src="{{ user.avatar.url }}" class="postdp"></a>
            </div>
            <a style="text-decoration:none;padding-left:1%;margin-top:-8%;" href="{% url 'profile' user.id %}"><h3 style="padding-left:1%;position:absolute;margin-top:-10px;">{{ user }}</h3></a>
            <h4 style="padding-left:10%;margin-top:40px;">{{ user.first_name}}</h4>
            <h4 style="padding-left:2%;margin-top:40px;">{{ user.last_name }}</h4>
            <div class="dp2 button">
                <a id="{{user.id}}" href="{% url 'add_friend' user.id %}" class="add_remove">Cancel request</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="nopost">
                <img src="/static/up.svg" alt="sdvfwegg">
                <h2 style="margin-top:-10%;margin-left:19%;">No New Request sent!!:( </h2>
            </div>
            {% endif %}
{% endblock %}