*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
/* body{
background: #E7FFCE;
} */
#navbar{
    overflow: hidden;
    background-color: #4AA82B;
  position: fixed;
  top: 0;
  width: 100%;
  height:64px;
  z-index: 1;

}
#nav1 {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display:flex;
    }
li {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    }

#name {
    font-family: 'Varela Round', sans-serif;
    font-size: 300%;
    padding-top: 5px;
    color: aliceblue;

font-weight: 500
    }
#searchbox input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue
    
    
  }
#searchbox button {
    float: right;
    padding: 12px 15px;
    margin-top: 8px;
    background: transparent;
    font-size:25px;
    border: none;
    color: aliceblue;
    cursor: pointer;
  }
#searchbox{
    padding-left: 13%;
    
}
#login,#signup,#cp,#noti {
    margin-left: 100%;
    background-color:transparent; 
    border-color: aliceblue;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 13px;
    cursor: pointer;
    position: relative;
  border-radius: 25PX;
    
}
#cp,#noti {
    display: flex;
    align-items: center
    
}
#noti{
    margin-left: 80%;
}
#signup {
    margin-left: 140%;
    
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin-left: 300%;
    display: flex;
    margin-top: 10px
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    margin-right:10%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-left: 85%; */
    opacity:0.8;
    right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: darkgrey;
 color:black;
 font-weight:bold;
 font-size:120%;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#profile{
    margin-left: 450%;
    margin-top: 17px;
    font-size: 200%;

}
#profiledown{
    margin-left: 10%;
    margin-top: 17px;
    font-size: 200%;

}
.icon-bar {
    width: 5.5%;
    background-color:#040F0F;
    height: 100%;
    position: fixed;
    top: 64px;
    left: 0;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 1s ease;
    color: white;
    font-size: 2.5em;
}

.icon-bar a:hover {
    background-color: #000;
    color:#4AA82B;
    transform:scale(0.9,0.9);
    transition:all 1s ease;

}
.side-content{
    font-size:35%;
    display: none;
    transition:all 1s ease;
    font-family: 'Lato', sans-serif;
    
}

.icon-bar a:hover .side-content{
    display: block;
    
}
.side:active .cont{
    display: block;

}
.modal,.cmodal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-content {
    background-color: #2D3A34;
    border-radius: 25px;
    margin: 5% auto 15% 20%;
    border: 1px solid #888;
    width: 60%; 
    float: left;
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.imgcontainer {
    position: relative;
}

img.avatar {
    width: 40%;
    float: left;
    border-radius: 25px 0px 0px 25px;
    
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.input-container {
    display: flex; 
    
    width: 50%;
    padding-left: 10%;
    margin-bottom: 20px;
    
}

.icon {
    padding: 10px;
    background: #4AA82B;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}
.email{
    padding-top: 2%;
}
.lihead{
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    padding-left: 45%;
    padding-top: 13%;
    color: aliceblue

}
.btn {
    background-color: #4AA82B;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    margin-left: 20%;
    font-size: 120%;
  }
  .input-field:focus {
    border: 3px solid #4AA82B;
}

.suhead{
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    padding-left: 45%;
    padding-top: 2%;
    color: aliceblue;

}

.leftcolumn { 
    float: left;
    width: 60%;
    margin-top: 75px;
    padding-left: 19%;
    

  }
  

.rightcolumn
{
   float: left;
   width: 27%;
   padding-left: 4.5%;
   margin-top:90px;
   margin-left:60%;
   position:fixed;
}


  .fakeimg {
    background-color: #DDDEDE;
    width: 100%;
  }
  
  
  .card {
    background-color: #E0FFE3;
    padding: 19px;
    margin-top: 20px;
  }
  .cardh{
      background-color:#E0FFE3;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: 4px;
      
  }
  .cardf{
    background-color:#E8E8E8;
    margin-bottom: 5px;
      display: flex;
      align-items: center;
      padding: 4px;
      border-radius: 4px;
      color: #2B2D42;
      font-size:150%;
  }
  .cardpost {
    background-color: #E0FFE3;
    padding: 3px;
    margin-top: 20px;
  }
  .dp{
    width: 45px;
   height: 45px;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
  }

  .postdp{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  
  .like {
    color: #2B2D42;
    cursor: pointer;
    user-select: none;
    font-size:150%;
}

.like:hover {
  color: darkblue;
}

.pagination {
    display: inline-block;
    margin-top: 15px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.center {
    text-align: center;
}
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #040F0F;
    margin-top: 20px;
  }
  .comm{
      padding-top: 15px;
      
  }
  .btnsub{
      background:linear-gradient(to bottom right, #248232, #4AA82B);
      color: white;
      border: none;
      padding: 5px 3px;
      
      border-radius: 6px;
  }
  .ss{
      float: right;
      margin-right: 5%;
      margin-top: -5%;
  }

  .sbtnsub{
      float: right;
      font-size: 140%;
      margin-top: -3%;
      margin-right: 2%;
  }
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 50px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: gray; 
    color: white; 
    cursor: pointer; 
    padding: 8px 12px ; 
    border-radius: 10px;
    font-size: 30px; 
    opacity: 0.8;
}

.edittxt{
    background-color:#ece6ea;
      margin-top: -5px;   
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid gray;
      
      color: #2B2D42;
}

.edits{
    padding-left: 5%;
    padding-right: 3%;
    border-right: 1px solid lightgray;
}
.cmntbtn{
    margin-left: 60%;
    padding: 4px;
    border-radius: 5px;
}


.fname , select{
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-size:120%;
}
.editbtn{
    width: 100%;
    background-color: #4CAe50;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 150%;
}

.editbtn:hover {
    background-color: #45a049;
}

.edit{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 33%;
    margin-top: 2%;
    width: 40%;
}
#fname:focus,#lname:focus,select:focus{
    border: 3px solid #555;
}

#message{
    margin-top:10%;
    text-align:center;
    font-size:400;
    color:green;
    margin-right:40vw;
    margin-left:40vw;
}

.pagination{
margin-top:100%;
margin-left:40%;
}

.editprofile input{
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-size:120%;
}
.icon-bar .active {
    background-color: green;
}
.rightc .card{
 float: left;
   width: 23%;
   margin-top:6%;
   margin-left:65%;
   position:absolute;
}

.nopost{
width:40%;
margin-left:20%;
float:left;}




.commenter{
background-color:#E5E8E8;
border:none;
border-top:2px solid #B2BABB;
margin-top:2%;
padding-top:1%;
border-left:2px solid #B2BABB;
padding-left:2%;
}

.comment_time{
background-color:#E5E8E8;
width:100%;
font-style:italic;
border-left:2px solid #B2BABB;
padding-left:2%;

}

.comment_content{
background-color:#E5E8E8;
border:none;
border-bottom:2px solid #B2BABB;
padding-bottom:1%;
padding-top:0.8%;
font-size:120%;
font-weight:400;
border-left:2px solid #B2BABB;
padding-left:3  %;
}

.cmnthere{
   border: 2px solid darkgrey;
}
.comment_content{
white-space: pre-wrap;
}
