{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/community.css' %} ">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
          function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        var modal = document.getElementById('id01');

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                console.log('67');
            }
        }

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            }
            else {
                document.getElementById("myBtn").style.display = "none";
            }
        }


        function topFunction() {
            document.body.scrollTop = 0; 
            document.documentElement.scrollTop = 0;}
            

        function validateEmail(emailField){
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test(emailField.value) == false) 
        {
            alert('Invalid Email Address');
            return false;
        }

        return true;

}
function item(type,dpurl,postby,about,time,posturl)
{
document.getElementById('dpurl').setAttribute("src", dpurl);
document.getElementById('postby').innerHTML = postby;
document.getElementById('time').innerHTML = time;
if(type == 'text')
{
document.getElementById('postitem3').style.display='block';
document.getElementById('postitem3').innerHTML = posturl;
document.getElementById('about').style.display = 'none';
document.getElementById('postitem2').style.display='none';
document.getElementById('postitem').style.display='none';
}
if (type == 'image'){
document.getElementById('postitem').style.display='block';
document.getElementById('about').style.display = 'block';
document.getElementById('postitem').setAttribute("src", posturl);
document.getElementById('about').innerHTML = about;
document.getElementById('postitem2').style.display='none';
document.getElementById('postitem3').style.display='none';
}
if (type == 'video'){
document.getElementById('postitem2').style.display='block';
document.getElementById('about').style.display = 'block';
document.getElementById('postitem2').setAttribute("src", posturl);
document.getElementById('about').innerHTML = about;
document.getElementById('postitem').style.display='none';
document.getElementById('postitem3').style.display='none';
var video = document.getElementById('postitem2');
video.play();
var vi = document.getElementById('videopost'+time);
vi.pause();
}
document.getElementById('id03').style.display='block';
    }


function closemodal(){
var vid=document.getElementById('postitem2');
vid.pause();
document.getElementById('id03').style.display='none';
}
    </script>

</head>


<body>
    <header id="navbar">
        <ul id="nav1">
            <li id="logo">
                <img src="/static/feedly_logo.svg" style="width:60%;height:60%; padding-left:10%;margin-top:4%">
            </li>
            <li id="name">
                FeedLy
            </li>
            <li id="searchbox">
                <form>
                    <input type="text" id="search" placeholder=" Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'createpost' user.id 'image' %}" style="text-decoration:none"><button id="cp" type="button" ><i class="far fa-edit" style="margin-right:5%"></i> POST</button>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                <button id="login" type="button" onclick="document.getElementById('id01').style.display='block'">
                        LOGIN </button>
                </a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li>
                <button id="noti" type="button" onclick="document.getElementById('id02').style.display='block'">
                    <i class="far fa-bell" style="margin-right:5%" style="margin-right:5%"></i>NOTIFICATION</button>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">
                <button id="signup" type="button" onclick="document.getElementById('id02').style.display='block'">SIGNUP</button>
                </a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"><i class="far fa-user"></i><i class="fa fa-caret-down"></i></button>

                </div>

            </li>
            {% endif %}

        </ul>
    </header>
{% if request.user.is_authenticated %}
    <div id="myDropdown" class="dropdown-content" style="margin-top:64px">
        <a href="{% url 'profile' user.id %}">My profile</a>
        <a href="{% url 'edit_profile' user.id %}">Edit profile</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
{% endif %}
    <div class="icon-bar">
        <a class="active" href="{% url 'home' %}"><i class="fa fa-home">
            <p class="side-content">HOME</p>
        </i></a>
        <a href="#"><i class="fa fa-chart-line">
                <p class="side-content">POPULAR</p>
            </i></a>
        <a href="{% url 'recents' rec=2 %}"><i class="fa fa-globe">
                <p class="side-content">ALL</p>
            </i></a>

        <a href="{% url 'recents' rec=3 %}"><i class="fa fa-bolt">
                <p class="side-content">RECENTS</p>
            </i></a>
        <a href="#"><i class="fa fa-moon">
                <p class="side-content">NIGHT MODE</p>
            </i></a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out">
            <p class="side-content">LOGOUT</p>
        </i></a>
        {% endif %}
    </div>

    <div id="id01" class="modal">
        <form id ="loginform" class="modal-content animate" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="/static/loginboy2.png" alt="Avatar" class="avatar">
            </div>
            <h1 class="lihead" >LOGIN</h1>
            <div class="input-container email">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Username" name="email" required>
            </div>
            <div class="input-container ">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="psw" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>

    <div id="id02" class="modal row">
        <form id="signupform" class="modal-content animate" method ="post" id="signupform">
            {% csrf_token %}
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img  src="/static/loginboy2.png" alt="Avatar" class="avatar">
            </div>
            <h1 class="suhead">SIGNUP</h1>
            <div class="input-container email">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="Username" name="email" id="email">
            </div>
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="text" placeholder="email" name="email" onblur="validateEmail(this);"  >
            </div>
            <!--<div class="input-container ">-->
                    <!--<i class="fa fa-edit icon"></i>-->
                    <!--<input class="input-field" type="password" placeholder="First Name" name="psw">-->
                <!--</div>-->
                <!--<div class="input-container ">-->
                        <!--<i class="fa fa-pencil icon"></i>-->
                        <!--<input class="input-field" type="password" placeholder="Last Name" name="psw">-->
                    <!--</div>-->
            <div class="input-container ">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="psw">
            </div>
            <div class="input-container ">
                <i class="fa fa-lock icon"></i>
                <input class="input-field" type="password" placeholder="confirm Password" name="psw">
            </div>

            <button type="submit" class="btn">Signup</button>
        </form>
    </div>


    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-double-up"></i></button>

    <!--<div id="id03" class="modal">-->
        <!--<div class="cardpost modal-content" style="padding:20px;border-radius: 25px">-->
            <!--<span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>-->
            <!--<div class="cardh">-->
                <!--<div class="dp"><img src="login-illustration-mahisadd.jpg" class="postdp"></div>-->
                <!--<h3 style="padding-left:2%">TITLE HEADING</h3>-->
            <!--</div>-->
            <!--<div class="cardh">-->
                <!--<h4>TITLE HEADING huui hjhyj kjkjoiu h</h4>-->
            <!--</div>-->
            <!--<img src="login-illustration-mahisadd.jpg" alt="Avatar" class="fakeimg">-->
            <!--<div class="cardf">-->
                <!--<i class="like fa fa-thumbs-up"></i>-->
                <!--<p style="padding-left:9px">200</p>-->
                <!--<i class="like fa fa-thumbs-down" style="padding-left:9px"></i>-->
                <!--<i class="like fa fa-comments" style="padding-left:9px"></i>-->
                <!--<p style="padding-left:9px">200</p>-->
                <!--<i class="like fa fa-paper-plane" style="padding-left:9px"> </i>-->
            <!--</div>-->

            <!--<h3>Your Comments:</h3>-->
            <!--<div>-->
                <!--<textarea rows="4" cols="50" name="comment" form="usrform"  placeholder="ggw" style="width:100%"></textarea>-->
                <!--<div class="edittxt">-->
                    <!--<i class="fa fa-bold edits" ></i>-->
                    <!--<i class="fa fa-italic edits" ></i>-->
                    <!--<i class="fa fa-underline edits" ></i>-->
                    <!--<button type="submit" class="cmntbtn">comment</button>-->


                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    {% block content %}
<!--loads home.html-->
    {% endblock %}

    {% block editprofile %}
   <!--loads edit_profile.html-->
    {% endblock %}

</body>

</html>