{% extends 'base.html' %}
{% load staticfiles %}

{% block editprofile %}
<div class="cvrimg">
    <img src="/static/FRANCE.svg" style="width:100%;">
</div>
<div class="pgimg">
    <img style="width: 100%; height: 150px;"
         alt="avatar"
         src="{{ user.myprofile.avatar.url }}"/>
</div>
<div class="sfname">
    <h2 >{{user.username }}</h2>
</div>
{% if request.user.id == user.id  %}
<a href="{% url 'account_del' user.id %}"><button type="button" class="subs">Delete Account</button></a>
{% endif %}
<form method="post" enctype="multipart/form-data" class="editprofile">
    {% csrf_token %}
    <!--<span id="changepic" style="display:grid;">{{ form.avatar }}</span>-->
    <span id="changepic" style="display:grid;" >
     <input type="file" name="avatar" accept="image/*" id="id_avatar">
    </span>

<div class="edit">


        <label>Username:</label>
        <p class="fname">{{user.username }}</p>

        <label>Email:</label>
        <p class="fname">{{ user.email }}</p>

        <label >First Name:
                {{ form.first_name }}
        </label>
        <!--<input type="text" id="fname" name="firstname" placeholder="First name">-->

        <label>Last Name:
                {{ form.last_name }}
        </label>
        <!--<input type="text" id="fname" name="firstname" placeholder=" Last name">-->

        <label>Gender:
            {{ form.gender }}
        </label>

        <label >Date of Birth (dd/mm/yyyy):
                {{  form.date_of_birth }}
        </label>
        <!--<input type="text" id="lname" name="lastname" placeholder="yyyy-mm-dd">-->

        <label>Contact no.:
                {{  form.phone_number }}
        </label>
        <!--<input type="text" id="fname" name="firstname" placeholder="**********">-->

        <input type="submit" value="UPDATE" class="editbtn">
</div>
</form>
{% endblock %}
