<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedly</title>
</head>
<body>
{% for error in messages %}
<p style="color: green">{{ error }}</p>
{% endfor %}
<h1>welcome to feedly</h1>
{% if request.user.is_authenticated %}
    <a href="{% url 'profile' user.id %}">Profile</a>
{% endif %}
    <br>
    {% if request.user.is_authenticated %}
    <a href="#">Create Post</a>
    {% else %}
    <a href="{% url 'signup' %}"> Sign Up</a>
{% endif %}
    <br>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"> log out</a>
    {% else %}
    <a href="{% url 'login' %}"> Log In</a>
    {% endif %}
<br>
<br>
<div style="margin-left:25vw;margin-right:28vw">

{% for post in object_list %}

    <div style ="border:1px solid gray;padding:2vw">
        <img src="{{ post.post_by.myprofile.avatar.url }}" style="width:3vw;height:3vw;" alt="pic">
        <b><a href="{% url 'profile' post.post_by.id %}">{{ post.post_by.username }}</a></b>
        <p>{{ post.title }} </p><i>{{   post.post_on }}</i>
        <br>
        <img style="width: 40vw; height: 45vh;"
          src="{{ post.image_post.url }}" alt="imagpost">
        <br>
    </div>
    <br>

{% endfor %}
</div>
</body>
</html>
