{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--{% for message in messages %}-->
<!--<p id= "message">{{ message }}</p>-->
<!--{% endfor %}-->
{% for post in object_list %}
<div class="leftcolumn">
<div class="cardpost" style="margin-top:30px; margin-bottom:-50px;">
    <div class="cardh">
        <div class="dp">
            <a href="{{ post.post_by.myprofile.avatar.url }}"><img src="{{ post.post_by.myprofile.avatar.url }}" class="postdp"></a>
        </div>
        <a style="text-decoration:none" href="{% url 'profile' post.post_by.id %}"><h4 style="padding-left:1%;position:absolute;margin-top:-10px;">{{ post.post_by.username }}</h4></a>
        <span><i style="float:left;left:9rem;position:relative;"> {{ post.post_on }}</i></span>
    </div>
    <div class="cardh">
        <!--<input type="hidden" name="comment" id = '{{post.id}}'>-->
        {%if post.about %}
        <h4>{{post.about }}</h4>
        {% endif %}
        {%if post.text %}
        <h4>{{ post.text }}</h4>
        {% endif %}
    </div>
    {% if post.image %}
    <img id="cmntmodal" onclick="item('{{post.id}}','image','{{ post.post_by.myprofile.avatar.url }}','{{ post.post_by }}','{{post.about}}','{{post.post_on}}','{{post.image.url}}')" src="{{ post.image.url }}" alt="img_post" class="fakeimg">
    {% endif %}
    {% if post.video %}
    <video  id="videopost{{ post.post_on}}" class="fakeimg" onclick="item('{{post.id}}','video','{{ post.post_by.myprofile.avatar.url }}','{{ post.post_by }}','{{post.about}}','{{post.post_on}}','{{post.video.url}}')" controls>
        <source src="{{ post.video.url }}" type="video/mp4" ></video>
    {% endif %}
    <div class="cardf">
        <form action="{% url 'vote' %}" method="POST">
            {{ post.result }}
            <input type="hidden" name="post" value="{{post.pk}}">
            {% csrf_token %}
            {% if post in post_voted_list %}
            <button type="submit" style="border:none" id="like" value="{{post.id}}">
                <i class="like fa fa-thumbs-down" style="font-size: 150%;"></i></button>
            {% else %}
            <button type="submit" style="border:none" id ="like" value="{{post.id}}">
                <i class="like fa fa-thumbs-up" style="font-size: 150%;"></i></button>
            {% endif %}
        </form>

        <!--<i class="like fa fa-thumbs-down" style="padding-left:9px"></i>-->
        {% if post.image %}
        <div id="cmntmodal" ><i onclick="item('{{post.id}}','image','{{ post.post_by.myprofile.avatar.url }}','{{ post.post_by }}','{{post.about}}','{{post.post_on}}','{{post.image.url}}')" class="like fa fa-comments" style="padding-left:9px"></i></div>
        {% endif %}
        {% if post.text %}
        <div id="cmntmodal" ><i onclick="item('{{post.id}}','text','{{ post.post_by.myprofile.avatar.url }}','{{ post.post_by }}','{{post.about}}','{{post.post_on}}','{{post.text}}')" class="like fa fa-comments" style="padding-left:9px"></i></div>
        {% endif %}
        {% if post.video %}
        <div id="cmntmodal" ><i onclick="item('{{post.id}}','video','{{ post.post_by.myprofile.avatar.url }}','{{ post.post_by }}','{{post.about}}','{{post.post_on}}','{{post.video.url}}')" class="like fa fa-comments" style="padding-left:9px"></i></div>
        {% endif %}
        <p style="padding-left:9px">200</p>
        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
    </div>
</div>
</div>
{% endfor %}
<div class="rightcolumn">
    <div class="card">
        <img src="/static/explore-feed_preview.jpeg" class="fakeimg">
        <h2 style="padding:6px">HOME</h2>
        <p style="padding:6px">Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
        <h3> TRENDING COMMUNITIES </h3>
        <div class="comm">
            <div class="dp"><img src="/static/feedly_logo.svg" class="postdp"></div>
            <div style="margin-left:19%;margin-top:-10%"><p > R/art</p></div>
            <div class="ss"><button type="button" class="btnsub">Subscribe</button></div>
        </div>
        <div class="comm">
            <div class="dp"><img src="/static/feedly_logo.svg" class="postdp"></div>
            <div style="margin-left:19%;margin-top:-10%"><p > R/art</p></div>
            <div class="ss"><button type="button" class="btnsub">Subscribe</button></div>
        </div>
        <div class="comm">
            <div class="dp"><img src="/static/feedly_logo.svg" class="postdp"></div>
            <div style="margin-left:19%;margin-top:-10%"><p > R/art</p></div>
            <div class="ss"><button type="button" class="btnsub">Subscribe</button></div>
        </div>
        <div class="comm">
            <div class="dp"><img src="/static/feedly_logo.svg" class="postdp"></div>
            <div style="margin-left:19%;margin-top:-10%"><p > R/arthh</p></div>
            <div class="ss"><button type="button" class="btnsub">Subscribe</button></div>
        </div>
    </div>
</div>

<!--{% if is_paginated %}-->
<!--<ul class="pagination">-->
    <!--{% if page_obj.has_previous %}-->
    <!--<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>-->
    <!--{% else %}-->
    <!--<li class="disabled"><span>&laquo;</span></li>-->
    <!--{% endif %}-->
    <!--{% for i in paginator.page_range %}-->
    <!--{% if page_obj.number == i %}-->
    <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
    <!--{% else %}-->
    <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
    <!--{% endif %}-->
    <!--{% endfor %}-->
    <!--{% if page_obj.has_next %}-->
    <!--<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>-->
    <!--{% else %}-->
    <!--<li class="disabled"><span>&raquo;</span></li>-->
    <!--{% endif %}-->
<!--</ul>-->
<!--{% endif %}-->


<div id="id03" class="modal">

   <div class="cardpost modal-content" style="padding:20px;border-radius: 25px">
       <div class="imgcontainer">
           <span onclick="closemodal()" class="close" title="Close Modal">&times;</span>

       </div>
   <div class="cardh">
      <div class="dp"><img src="" class="postdp" id="dpurl"></div>
   <h3 style="padding-left:2%" id="postby"></h3><i id="time"></i>
   </div>
   <div class="cardh">
     <h4 id="about"></h4>
    </div>
       <h4 id="postitem3"></h4>
       <video class="fakeimg" id="postitem2" controls></video>
    <img src="/static/loginboy2.png" alt="Avatar" class="fakeimg" id="postitem">
       <div id ="comment">
<!--comment goes here-->
       </div>
<h3 style="margin-top:20px">Your Comments:</h3>
<div>
    <form id="comment_form"  method="post">
        {% csrf_token %}
        <textarea name="content" cols="85" rows="5" maxlength="300" required="" id="id_content" style="border: 2px solid darkgrey;border-radius:6px;font-size:130%;" placeholder="your comments here.."></textarea>
        <button type="submit" class="cmntbtn" style="margin-left:85%;font-size:120%;margin-top:1%">comment</button>
    </form>
<!--<textarea rows="4" cols="50" name="comment" form="usrform"  placeholder="ggw" style="width:100%"></textarea>-->
<!--<div class="edittxt">-->



        </div>
     </div>
    </div>
 </div>

{% endblock %}
