{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="home.css"> <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="home.css"> <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >

    <div class="bg"> 
        
        <img src="/static/feedly_logo.svg" style="width:7.5%;height:7.5%;margin-top: 20px;">
        <div id="name">
                FeedLy
            </div>

            <form method="post"v action="{% url 'login' %}">
               {% csrf_token %}
            <div class="landinglogin">

                <div class=wel>
                    Welcome :)
                </div> <br>
                <div class="connected">
                    To keep connected, Please Login with you personal information by Username & password  <i class="fa fa-bell bells"></i>
                </div>
                <div class="input-container email">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" name="username" maxlength="150" required="" id="id_username" placeholder="Username">
                </div>
                <div class="input-container ">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" name="password" required="" id="id_password" placeholder="Password">
                </div>
                {% for error in messages %}
                <p style="color: red;margin-left:150px;">{{ error }}</p><br>
                {% endfor %}
                <!--<div class="input-container ">-->
                <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
                <!--<div class="g-recaptcha" data-sitekey="6Ldi4JoUAAAAADkHu_RcaZiy67p86o-ayAJCHBS1"></div>-->
                <!--</div>-->
                <button type="submit" class="btn" style="margin-left: 23%;" >Login</button>
            </div>
            </form>
        <a href="{% url 'signup' %}"><button type="submit" class="cabtn">Signup</button></a>
    </div>
</body>
</html>