

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-double-up"></i></button>

    <div class="cvrimg">
        <img src="loginboy2.png" style="width:100%;">
    </div>

    <div class="pgimg">
        <img src="loginboy.jpg" style="height:100%;">
    </div>
    <div class="sfname">
            <h2 >U/VINAYAKkkkkk</h2></div>

    <div class="row" style="margin-top:-3%">
        <div class="leftcolumn">
            <div class="grid-container">
                <div class="grid-item">
                    <div>
                        <h3 class="uname">u/vinayak</h3>
                    </div>
                    <div class="gfakeimg" style="height:200px;"></div>
                    <div class="gcardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>

                </div>
                <div class="grid-item">
                    <div>
                        <h3 class="uname">u/vinayak</h3>
                    </div>
                    <div class="gfakeimg" style="height:200px;"></div>
                    <div class="gcardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <h3 class="uname">u/vinayak</h3>
                    </div>
                    <div class="gfakeimg" style="height:200px;"></div>
                    <div class="gcardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <h3 class="uname">u/vinayak</h3>
                    </div>
                    <div class="gfakeimg" style="height:200px;"></div>
                    <div class="gcardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
                <div class="grid-item">
                    <div>
                        <h3 class="uname">u/vinayak</h3>
                    </div>
                    <div class="gfakeimg" style="height:200px;"></div>
                    <div class="gcardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
                <div class="cardpost">
                    <div class="cardh">
                            <div class="dp"><img src="feedly_logo.svg" class="postdp"></div>
                        <h3 style="padding-left:2%">TITLE HEADING</h3>
                    </div>
                    <div class="cardh">
                        <h4>TITLE HEADING huui hjhyj kjkjoiu h</h4>
                    </div>
                    <p class="fakeimg" style="padding:7px;margin-bottom:10px">Here you will find OC or "Original Content"
                        posts. This means that the post author claims they created the content. Explore OC categories to
                        discover posts you haven’t seen anywhere else.</p>
                    <div class="cardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
                <div class="cardpost">
                    <div class="cardh">
                            <div class="dp"><img src="feedly_logo.svg" class="postdp"></div>
                        <h3 style="padding-left:2%">TITLE HEADING</h3>
                    </div>
                    <div class="cardh">
                        <h4>TITLE HEADING huui hjhyj kjkjoiu h</h4>
                    </div>
                    <p class="fakeimg" style="padding:7px;margin-bottom:10px">Here you will find OC or "Original Content"
                    e else.</p>
                    <div class="cardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
                <div class="cardpost">
                    <div class="cardh">
                            <div class="dp"><img src="feedly_logo.svg" class="postdp"></div>
                        <h3 style="padding-left:2%">TITLE HEADING</h3>
                    </div>
                    <div class="cardh">
                        <h4>TITLE HEADING huui hjhyj kjkjoiu h</h4>
                    </div>
                    <p class="fakeimg" style="padding:7px;margin-bottom:10px">Here you will find OC or "Original Content"
                        posts. This means that the post author claims they created the content. Explore OC categories to
                        discover posts you haven’t seen anywhere else hidfkkd  hy dhdgh dhjsd dskjlkjsd sfdkhjkdf fahkjdf dhjkhdf djd
                        dfjjdsjkds hdfh jdfhj dshh dfsjh.</p>
                    <div class="cardf">
                        <i class="like fa fa-thumbs-up"></i>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-thumbs-down" style="padding-left:9px"></i>
                        <div id="cmntmodal" onclick="document.getElementById('id03').style.display='block'"><i class="like fa fa-comments"
                                style="padding-left:9px"></i></div>
                        <p style="padding-left:9px">200</p>
                        <i class="like fa fa-paper-plane" style="padding-left:9px"> </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightcolumn" style="margin-left:10%">
            <div class="card">
                <img src="explore-feed_preview.jpeg" class="fakeimg" >

                <h2 style="padding:2%"><i class="fa fa-globe" style="padding-right:4%"></i> BIO</h2>
                <h4 style="padding:4%"><i class=" fa fa-certificate" style="padding-right:4%"></i> KARMA :  </h4>
                <h4 style="padding:4%"><i class=" fa fa-user" style="padding-right:4%"></i> Vinayak Gupta </h4>
                <h4 style="padding:4%"><i class=" fa fa-venus-mars" style="padding-right:4%"></i> Male </h4>
                <h4 style="padding:4%"><i class=" fa fa-birthday-cake" style="padding-right:4%"></i> 07/07/1999 </h4>
                <h4 style="padding:4%"><i class=" fa fa-envelope-open" style="padding-right:4%"></i> Vinayakg709@gmail.com </h4>
                <h4 style="padding:4%"><i class=" fa fa-mobile" style="padding-right:4%"></i> 8174893221 </h4>
            </div>
            
        </div>
        </div>
    </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div>



</body>

</html>