<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
{% load staticfiles %}
{% block content %}
<div style="text-align:center">
<h1>Profile</h1>
<br>
<br>


<img style="width: 15vw; height: 25vh;"
                     alt="avatar"
                     src="{{ user.myprofile.avatar.url }}"/>
<br>
<br>
    <p><a href="{% url 'logout' %}" style="margin-left:80vw"> log out</a>
   </p>
    <p>
    <a href="{% url 'edit_profile' user.id %}" style="margin-left:80vw">Edit profile</a>
    </p>
<br>
<label>First name :{{ user.myprofile.first_name }}
</label>
<br>
    <br>
    <br>
<label>Last name: {{ user.myprofile.last_name }}</label>
<br>
    <br>
    <br>
    <label>Gender: {{ user.myprofile.gender }}</label>
    <br>
    <br>
    <br>
<label>Username :{{ user.username }}</label>
<br>
    <br>
    <br>
<label>Email : {{ user.email }}</label>
<br>
    <br>
    <br>
<label>Contact no.: {{ user.myprofile.phone_number }}</label>
<br>
    <br>
    <br>
<label>Date of birth : {{ user.myprofile.date_of_birth|date:"M d, Y" }}</label>
<br>
</div>
{% endblock %}
</body>
</html>
